{% extends 'base.html' %}

{% block title %}Landing page{% endblock %}

{% block content %}

    {% include 'twitter_main/logout_nav.html' %}

    <div class="wrapper p-3">
        <h1>Hello user {{ user.username }}</h1>
        
        {% include 'twitter_main/post_tweet.html' %}

        <main id="tweets">
            
        </main>

        <button id="getAllTweets">Load all</button>
    </div>


    <script>
        const host  = 'localhost:8000/';
        const token = '{{ csrf_token }}';

        const tweetContainer = document.querySelector('#tweets');
        const tweetForm = document.querySelector('#tweet_form');
        const tweetTextInput = document.querySelector('#id_tweet_text');
        const getAllTweetsButton = document.querySelector('#getAllTweets');

        window.onload = () => getData('get_tweets/2');

        getAllTweetsButton.addEventListener('click', () => {
            getData('get_tweets');
        });

        async function getData(resource) {
            
            const response = await fetch(`${ host }${ resource }`, {
                method: 'GET',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then((response) => {
                return response.text();
            })
            .then((data) => {
                return tweetContainer.innerHTML = data;
            })
        }


        tweetForm.addEventListener('submit', (event) => { 
            event.preventDefault();
            postNewTweet('new_tweet/'); //.then(function(res) { console.log(res); });
            getData('get_tweets/');
        });

        async function postNewTweet(resource) {

            const response = await fetch(`${ host }${ resource }`, {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json; charset=UTF-8',
                    'X-Requested-With': 'XMLHttpRequest',
                    "X-CSRFToken": token 
                },
                body: JSON.stringify( { body: tweetTextInput.value } )

            })
            .then((djangoRes) => {
                return djangoRes.text();
            })
            .then((data) => {
                return data;
            })

            console.log(response);
            return response;
        }
    </script>
{% endblock%}