{% extends 'base.html' %}

{% block content %}
    
    {% include 'twitter_main/login_nav.html' %}

    <h1>Login here</h1>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Enter a username">

        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Enter a password">

        <label for="remember">Remember me:
            <input type="checkbox" name="remember" value="">
        </label>

        <input type="submit" value="Login" name="">

    </form>

{% endblock %}