{% extends 'base.html' %}

{% block content %}
    
    <ul>
        <li>
            <a href="{% url 'twitter_main:user_login' %}">Login</a>
        </li>
        <li>
            <a href="{% url 'twitter_main:register' %}">Register</a>
        </li>
    </ul>

    <h1>Login here</h1>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Enter a username">

        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Enter a password">

        <label for="remember">Remember me:
            <input type="checkbox" name="remember" value="">
        </label>

        <input type="submit" value="Login" name="">

    </form>

{% endblock %}